result

# devenv
.devenv*
devenv.local.nix

# machine-local Claude Code permissions, rewritten by the agent itself
.claude/settings.local.json

# clojure tool caches
home/.clj-kondo/.cache/
home/.clj-kondo/imports/
home/.cpcache/
home/.lsp/.cache/
